* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}
.page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray ;
    overflow: hidden;
}
.text {
    display: block;
    font-size: 10px;
    line-height: 10px;
    background: url(ava.png);
    background-position-x: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.1);
}
.text2 {
    display: block;
    font-size: 10px;
    line-height: 10px;
    background: url(ava2.png);
    background-position-x: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.1);
}